<div class="row">
    <div class="col-md-4">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Scientific Books</mat-card-title>
          
        </mat-card-header>
        <img mat-card-image src="assets/Images/sci.jpg" alt="" >
        <mat-card-content>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum illum eius ducimus in nesciunt sed repellat nihil? Quas eum molestiae, quaerat, ducimus voluptatem quasi nihil similique sit, officiis labore architecto.</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-fab>Buy</button>
            <button mat-fab color="warn">Cancle</button>
            <button mat-mini-fab aria-label="Example icon-button with a heart icon">
                <mat-icon>favorite</mat-icon>
              </button>
        </mat-card-actions>
      </mat-card>
  
    </div>
    <div class="col-md-4">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>kids Books</mat-card-title>
         
        </mat-card-header>
        <img mat-card-image src="assets/Images/kid1.jpg" alt="Photo of a Shiba Inu" >
        <mat-card-content>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At dicta sapiente maxime harum unde officia maiores velit dolore veritatis itaque magni tempora nulla mollitia, nesciunt, odit adipisci natus neque impedit.</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-fab>Buy</button>
            <button mat-fab color="warn">Cancle</button>
            <button mat-mini-fab aria-label="Example icon-button with a heart icon">
                <mat-icon>favorite</mat-icon>
              </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div  class="col-md-4">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Horror Books</mat-card-title>
          
        </mat-card-header>
        <img mat-card-image src="assets/Images/horror.jpg" alt="" >
        <mat-card-content>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam soluta ea totam eaque expedita labore? Commodi inventore, qui laborum natus beatae voluptate ipsam minus velit, molestias error.</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-fab>Buy</button>
            <button mat-fab color="warn">Cancle</button>
            <button mat-mini-fab aria-label="Example icon-button with a heart icon">
                <mat-icon>favorite</mat-icon>
              </button>
        </mat-card-actions>
      </mat-card>
  
  
    </div>
    <div class="col-md-4">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Novel Books</mat-card-title>
          
        </mat-card-header>
        <img mat-card-image src="assets/Images/nov.jpg" alt="" >
        <mat-card-content>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum illum eius ducimus in nesciunt sed repellat nihil? Quas eum molestiae, quaerat, ducimus voluptatem quasi nihil similique sit, officiis labore architecto.</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-fab>Buy</button>
            <button mat-fab color="warn">Cancle</button>
            <button mat-mini-fab aria-label="Example icon-button with a heart icon">
                <mat-icon>favorite</mat-icon>
              </button>
        </mat-card-actions>
      </mat-card>
  
    </div>
    <div class="col-md-4">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Story Books</mat-card-title>
         
        </mat-card-header>
        <img mat-card-image src="assets/Images/book2.jpg" alt="Photo of a Shiba Inu" >
        <mat-card-content>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At dicta sapiente maxime harum unde officia maiores velit dolore veritatis itaque magni tempora nulla mollitia, nesciunt, odit adipisci natus neque impedit.</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-fab>Buy</button>
            <button mat-fab color="warn">Cancle</button>
            <button mat-mini-fab aria-label="Example icon-button with a heart icon">
                <mat-icon>favorite</mat-icon>
              </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div  class="col-md-4">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Historical Books</mat-card-title>
          
        </mat-card-header>
        <img mat-card-image src="assets/Images/hist1.jpg" alt="" >
        <mat-card-content>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam soluta ea totam eaque expedita labore? Commodi inventore, qui laborum natus beatae voluptate ipsam minus velit, molestias error.</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-fab>Buy</button>
            <button mat-fab color="warn">Cancle</button>
            <button mat-mini-fab aria-label="Example icon-button with a heart icon">
                <mat-icon>favorite</mat-icon>
              </button>
        </mat-card-actions>
      </mat-card>
  
  
    </div>
  
  </div>
  <router-outlet></router-outlet>